.colordark{
    background-color:#721c24!important;
}
.colordark1 {
    background-color: #17859b !important;
}
.colordark2 {
    background-color: #269b41 !important;
}
.colordark3 {
    background-color: #242b31 !important;
}